@using Workshop.Core.DTOs.AccountingDTOs
@using Workshop.Resources
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Common> Common
@model Workshop.Core.DTOs.WIPSChedule

@{
    var lang = System.Globalization.CultureInfo.CurrentUICulture.Name;
    var customers = ViewData["vehicleCustomers"] as List<CustomerInformation>;

}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>


<div class="modal fade" id="scheduleModal" tabindex="-1" aria-labelledby="scheduleModalLabel" aria-hidden="true"
     data-lang="@System.Threading.Thread.CurrentThread.CurrentCulture.Name">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scheduleModalLabel">@Common["Title_ScheduleLabour"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@Common["Button_Close"].Value"></button>
            </div>

            <div class="modal-body">
                <form id="scheduleForm" class="row g-3" novalidate="novalidate">

                    <div class="col-md-4 col-sm-12">
                        <label class="form-label">
                            @Common["Label_Date"] <span class="text-danger">*</span>
                        </label>
                        <input type="text"
                               class="form-control flat-picker-future"
                               id="schDate"
                               name="Date"
                               autocomplete="off"
                               required />
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <label>
                            @Common["Label_VehicleType"] <span class="text-danger">*</span>
                        </label>
                        <select id="vehicleTypeDropdown" name="VehicleTypeId" class="form-control" required>
                            <option value="">@Common["Select"]</option>
                            <option value="1">Internal</option>
                            <option value="2">External</option>
                        </select>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>
                                @Common["Label_VehicleName"] <span class="text-danger">*</span>
                            </label>
                            @Html.DropDownList(
                            "VehicleId",
                                                        (SelectList)ViewBag.Vehicles,
                                                        Common["Select"].Value,
                                                        new { @class = "form-control", id = "vehicleDropdown", required = "required" }
                                                        )
                        </div>
                    </div>

                    @{
                        var customers = ViewData["vehicleCustomers"] as List<CustomerInformation>;
                    }

                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Customer <span class="text-danger">*</span></label>
                            <select id="CustomerId"
                                    name="CustomerId"
                                    class="form-control"
                                    required>
                                <option value="">@Common["Select"]</option>

                                @if (customers != null)
                                {
                                    foreach (var c in customers)
                                    {
                                        var displayText =
                                        $"{c.CustomerPrimaryName} {c.CustomerSecondaryname} - {c.CustomerPhoneNumber}";

                                        <option value="@c.Id"
                                                data-name="@displayText">
                                            @displayText
                                        </option>
                                    }
                                }
                            </select>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-12">
                        <label>
                            @Common["Label_Chassis"] <span class="text-danger">*</span>
                        </label>
                        <select id="chassisDropdown" name="ChassisId" class="form-control" required>
                            <option value="">@Common["Select"]</option>
                        </select>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <label class="form-label">
                            @Common["Label_Start"] <span class="text-danger">*</span>
                        </label>
                        <input type="text"
                               class="form-control"
                               id="schStart"
                               name="Start_Time"
                               required />
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <label class="form-label">
                            @Common["Label_DurationHour"] <span class="text-danger">*</span>
                        </label>
                        <input type="number"
                               class="form-control"
                               id="schDuration"
                               name="Duration"
                               min="1"
                               step="1"
                               value="30"
                               required />
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <label class="form-label">
                            @Common["Label_Ends"] <span class="text-danger">*</span>
                        </label>
                        <input type="time"
                               class="form-control"
                               id="schEnd"
                               name="End_Time"
                               readonly
                               required />
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>@Common["Label_Description"]</label>
                            <textarea class="form-control"
                                      id="descriptionInput"
                                      name="Description"
                                      rows="3"
                                      maxlength="510"
                                      placeholder="@Common["Label_Description"]"></textarea>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer justify-content-center gap-2">
                <button type="button" class="btn btn-primary" id="btnSaveSchedule">
                    <i class="fad fa-save"></i>&nbsp;@Common["Button_Save"]
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times"></i>&nbsp;@Common["Button_Cancel"]
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    window.RazorVars = Object.assign({}, window.RazorVars || {}, {
        insertReservationUrl: '@Url.Action("InsertReservation", "Reservations")',
        getVehicleByChassis: '@Url.Action("VehicleDefinitionsGetByChassisNo", "Reservations")',
        vehicleListUrl: '@Url.Action("VehicleList", "Reservations")',
        getChassisByVehicleTypeUrl: '@Url.Action("GetChassisByVehicleType", "Reservations")',
        updateReservation: '@Url.Action("UpdateReservation", "Reservations")',
        getOpenAgreementInfoUrl: '@Url.Action("GetOpenAgreementInfoByCustomerIdOrVehicleId", "Reservations")',

        reservationInserted: '@Html.Raw(Common["Booked_Reservation"])',
        reservationAlreadyExist: '@Html.Raw(Common["ActiveReservationExists"])',
        reservationBookedSuccessfully: '@Html.Raw(Common["Booked_Reservation"])',
        warning: '@Html.Raw(Common["Label_Warning"])',
        doneSuccessfully: '@Html.Raw(Common["Label_DoneSuccessfully"])'
    });
</script>

<script>
    $(document).ready(function () {
    $('#schEnd').prop('readonly', true).on('keydown paste', (e) => e.preventDefault());
    });
</script>

<script src="~/js/definitions/schedule-modal.js"></script>
