@using Workshop.Resources
@using Microsoft.Extensions.Localization
@using System.Drawing
@inject IStringLocalizer<Common> Common
@inject IStringLocalizer<Messages> Message
@model Workshop.Core.DTOs.VehicleTabDTO
@functions {
	public static string VehicleColorName(int colorId)
	{
		// Map DB color IDs to names
		return colorId switch
		{
			1 => "Red",
			2 => "Blue",
			3 => "Black",
			4 => "White",
			5 => "Silver",
			6 => "Gray",
			7 => "Green",
			8 => "Yellow",
			9 => "Orange",
			10 => "Brown",
			_ => "Unknown"
		};
	}
}



<div class="tab-pane fade" id="tabVehicle" role="tabpanel">
	<div class="row">
		<div class="col-xl-6">
			<div class="card mb-4">
				<div class="card-header"><h5 class="mb-0">@Common["Title_VehicleInformation"]</h5></div>
				<div class="card-body">
					<div class="row g-3">

						<div class="col-lg-6"><label class="form-label">@Common["Label_Registration"]</label><input class="form-control" id="VehRegistration" value="@ViewBag.RegDate" disabled="disabled"></div>
						<div class="col-lg-6">
							<label class="form-label">@Common["Label_PlateNumber"]</label>
							@Html.TextBoxFor(model => model.PlateNumber, Model.PlateNumber, new { @class = "form-control", @id = "VehPlate", disabled = "disabled" })

						</div>
						<div class="col-lg-6">
							<label class="form-label">@Common["Label_Make"]</label>
							@Html.DropDownListFor(
							model => model.ManufacturerId,
														(IEnumerable<SelectListItem>)ViewBag.Makes,
														new { id = "VehMakeModel", @class = "form-control", disabled = "disabled" }
														)
						</div>
						<div class="col-lg-6">
							<label class="form-label">@Common["Label_Model"]</label>
							@Html.DropDownListFor(
														model => model.ModelId,
														(IEnumerable<SelectListItem>)ViewBag.Models,
														new { id = "VehModel", @class = "form-control", disabled = "disabled" }
														)
						</div>
						<div class="col-lg-6">
							<label class="form-label">@Common["Label_Class"]</label>
							@Html.DropDownListFor(
														model => model.ClassId,
														(IEnumerable<SelectListItem>)ViewBag.Classes,
														new { id = "VehClass", @class = "form-control", disabled = "disabled" }
														)
						</div>
						<div class="col-lg-6">
							<label class="form-label">@Common["Label_Year"]</label>
							@Html.TextBoxFor(model => model.ManufacturingYear, Model.ManufacturingYear.ToString(), new { @class = "form-control", @id = "VehYear", disabled = "disabled" })
						</div>
						<div class="col-lg-6">
							<label class="form-label">@Common["Label_Color"]</label>
							@Html.DropDownListFor(
														model => model.Color,
														(IEnumerable<SelectListItem>)ViewBag.Colors,
														new { @class = "form-control", @id = "VehColor", disabled = "disabled" }
														)

						</div>
						<div class="col-lg-6">
							<label class="form-label">@Common["Label_VIN"]</label>
							@Html.TextBoxFor(model => model.ChassisNo, Model.ChassisNo, new { @class = "form-control", id = "VehVIN", disabled = "disabled" })
						</div>
						<div class="col-lg-6">
							<label class="form-label">@Common["Label_Department"]</label>
							<select class="form-control" id="DepartmentId" disabled="disabled">
								<option value="1">@Common["Label_Workshop"]</option>
								<option value="2">@Common["Label_BodyShop"]</option>
								<option value="3">@Common["Label_Parts"]</option>
							</select>
						</div>
						<div class="col-lg-6"><label class="form-label">@Common["Label_CarPark"]</label><select class="form-control" id="CarPark" disabled="disabled"><option value="1">@Common["Label_VehicleHere"]</option><option value="2">@Common["Label_Outside"]</option></select></div>

					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-header"><h5 class="mb-0">@Common["Title_OdometerReadings"]</h5></div>
				<div class="card-body">
					<div class="row g-3">
						<div class="col-lg-4"><label class="form-label">@Common["Label_Previous"]</label><input type="number" class="form-control" id="OdoPrev" value="0"></div>
						<div class="col-lg-4"><label class="form-label">@Common["Label_CurrentIn"]</label><input type="number" class="form-control" id="OdoCurrentIn" value="@ViewBag.ReceivedMeter"></div>
						<div class="col-lg-4"><label class="form-label">@Common["Label_CurrentOut"]</label><input type="number" class="form-control" id="OdoCurrentOut"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-6">
			<div class="card h-100">
				<div class="card-header"><h5 class="mb-0">@Common["Title_VehicleDetails"]</h5></div>
				<div class="card-body">
					<div class="row g-3">
						<div class="col-12"><label class="form-label">@Common["Label_ServiceDescription"]</label><textarea class="form-control" rows="3" id="VehServiceDesc"></textarea></div>
						<div class="col-12"><label class="form-label">@Common["Label_CustomerConcerns"]</label><textarea class="form-control" rows="3" id="VehConcerns"></textarea></div>
						<div class="col-12"><label class="form-label">@Common["Label_AdvisorNotes"]</label><textarea class="form-control" rows="3" id="VehAdvisorNotes"></textarea></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
